@model System.Data.DataTable

@{
    ViewData["Title"] = "Общие последние записи";
}

<div class="jumbotron">
    <h1 class="text-center">Список книг</h1>
</div>

<table align="center" class="table table-bordered">

    <thead class="thead-dark">
        <tr>
            <th>
                #Id
            </th>
            <th>
                Имя
            </th>
            <th>
                Автор
            </th>
            <th>
                Год
            </th>
            <th>
                Оглавление
            </th>           
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Rows.Count; i++)

        {
            <tr>
                <td>
                    @Model.Rows[i]["Id"]
                </td>
                <td>
                    @Model.Rows[i]["Name"]
                </td>
                <td>
                    @Model.Rows[i]["Author"]
                </td>
                <td>
                    @Model.Rows[i]["Year"]
                </td>

                <td>
                    @Model.Rows[i]["Content"]
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
